# Grouping for Aggregation, Filtration and Transformation

In [7]:
import pandas as pd
import numpy as np
import pandas_ta as ta

In [8]:
def trend_index():
    pass


def volatility_index():
    pass


def volume_index():
    pass


def overlap_index():
    pass


def candles_pattern():
    pass

In [11]:
# Jan calendars
cal_1 = pd.read_csv('../cookbook_data/owndata/economic_calendar_1.csv')
cal_1.tail()

,id,date,time,zone,currency,importance,event,actual,forecast,previous
421,87,10/01/2022,All Day,japan,NaN,NaN,Japan - Respect for the Aged Day,NaN,NaN,NaN
422,1,17/01/2022,All Day,united states,NaN,NaN,"United States - Martin Luther King, Jr. Day",NaN,NaN,NaN
423,71,26/01/2022,All Day,australia,NaN,NaN,Australia - Australia Day,NaN,NaN,NaN
424,750,31/01/2022,All Day,china,NaN,NaN,China - Spring Festival,NaN,NaN,NaN
425,750,31/01/2022,All Day,china,NaN,NaN,China - Spring Festival,NaN,NaN,NaN

In [24]:
# Prices clean
price = pd.read_csv('../cookbook_data/owndata/prices_cleandf.csv')
# price.dtypes
price.tail()
# price.shape

,Symbol,Short_Price,Short_Distance,Long_Price,Long_Distance,Current_Price
24,NZDCHF,0.6113,-6,0.6284,-165,0.61189
25,XAGUSD,22.6770,-35,23.8026,-77,23.03000
26,XAUUSD,1775.0917,-4440,1827.3685,-788,1819.49000
27,GBPAUD,1.8743,-275,1.9092,-74,1.90179
28,USDCNH,6.4066,404,6.4607,-945,6.36623

In [27]:
# Sentiment combine
sent = pd.read_csv('../cookbook_data/owndata/sentiments_df.csv')
# sent.dtypes
# sent.tail()
# sent.shape

sent.sort_values(by='Percentage', ascending=False).head()

   Symbol Action  Percentage   Volume  Positions
0  EURNZD  Short          94   885.40       3933
1  NZDCHF   Long          94   412.07       2210
2  AUDNZD  Short          90  2009.36       6147
3  NZDCAD   Long          89  1213.36       3964
4  GBPNZD  Short          89  1517.87       5873

In [12]:
# Pound sterling xy based on GU
bxy = pd.read_csv('../cookbook_data/owndata/PHLX_British_Pound_iv.csv')
bxy.tail()

           Date    Open    High     Low   Close  Volume Currency
775  2022-01-28  133.76  134.34  133.74  134.00       0      USD
776  2022-01-31  134.19  134.61  134.06  134.47       0      USD
777  2022-02-01  134.81  135.29  134.76  135.20       0      USD
778  2022-02-02  135.80  135.88  135.54  135.77       0      USD
779  2022-02-03  135.79  136.21  135.58  136.00       0      USD

In [14]:
# Dollar index
dxy = pd.read_csv('../cookbook_data/owndata/US_Dollar_Index_iv.csv')
dxy.tail()

           Date   Open   High    Low  Close  Volume Currency
802  2022-01-28  97.25  97.44  97.06  97.27       0      USD
803  2022-01-31  97.22  97.30  96.52  96.54       0      USD
804  2022-02-01  96.70  96.72  96.24  96.39       0      USD
805  2022-02-02  96.27  96.30  95.81  95.94       0      USD
806  2022-02-03  96.02  96.25  95.24  95.38       0      USD

In [13]:
# GU fx
gu = pd.read_csv('../cookbook_data/owndata/GBPUSD_yh.csv')
gu.tail()

           Date      High       Low      Open     Close  Volume  Adj Close
519  2021-12-27  1.344070  1.339226  1.340520  1.340430       0   1.340430
520  2021-12-28  1.346257  1.341832  1.344447  1.344267       0   1.344267
521  2021-12-29  1.349928  1.340914  1.343400  1.343328       0   1.343328
522  2021-12-30  1.352155  1.345533  1.349764  1.349879       0   1.349879
523  2021-12-31  1.354848  1.346747  1.349892  1.349837       0   1.349837